@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    font-family: "Lora", serif;
    font-style: oblique;
}
body{
    background-image: url(wr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
text-align: center;
align-items: center;
justify-content: center;
margin-top:35px;
background-color: rgb(162, 198, 214);
width: 600px;
margin: 0 auto;
border-radius: 12px;
padding: 5px;
height: 920px;
opacity:0.9;
}
#start_again{
    margin-top: 20px;
}
#start{
    font-weight: 600;
    border-radius: 13px;
    padding: 11px;

}
#submit{
    font-weight: 600;
    border-radius: 13px;
    padding: 6px;
}
#answer{
    padding: 6px;
    font-weight: 600;
    width: 300px;
    border-radius: 2px;
}
#start_again{
    padding: 8px;
    font-weight: 600;

}
p{
    font-size: 24px;
    font-weight: 700;
    
}
.globe img{
    height: 300px;
}
.globe{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: invert(1);
}
#question{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#searchquestion img{
    height: 60px;
}
.finished{
    display: none;
}
.finished img{
    height: 70px;
}
.plus{
    display: none;
}
.plus img{
    height: 45px;
}
.minus{
    display: none;
}
.minus img {
    height: 45px;
}
.counter{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    height: 80px;
}
#scoreCount{
    font-size: 40px;
}
#scoreText{
    font-size:25px;
}
